"use client";
import React from 'react';
import * as S from './styles.ts';

export interface I{{pascalCase name}}Props {
  children?: React.ReactNode;
}

const {{pascalCase name}}: React.FC<I{{pascalCase name}}Props> = ({ children }) => {
  return <div >{children}</div>;
};

export default {{pascalCase name}};